@tailwind base;
@tailwind components;
@tailwind utilities;

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::selection{
  @apply bg-secondary-200 text-primary;
}


/* ------------ Custom styles ------------ */

/* --- UI elements --- */

.primary-btn{
  @apply bg-primary text-secondary-100 font-semibold py-2 px-8 rounded-lg transition hover:bg-primary-600;
}

.secondary-btn{
  @apply bg-secondary-100 border-[1px] border-muted-900 text-muted-900 font-semibold py-2 px-8 rounded-lg transition hover:bg-secondary-200;
}

.third-btn{
  @apply bg-secondary-200 text-muted-900 font-semibold py-2 px-8 rounded-lg transition hover:bg-secondary-300;
}

/* --- Landing --- */

.custom-ph{
  @apply px-8 md:px-12 lg:px-16;
}